<section class="input-page">
  <img class="input-page__bkg-img"
       src="assets/background.png"
       alt="attractor image">

  <div class="input-page__form">
    <span class="input-page__form-title"> Enter your message</span>

    <app-input-form [messageControl]="form.get('message')"></app-input-form>

    <button class="input-page__form-btn"
            [disabled]="this.form.get('message').errors"
            [ngClass]="this.form.get('message').errors ? 'disabled': ''"
            (click)="translate()">Translate</button>
  </div>
</section>