:host {
  height: 1080px;

  .results-page {
    height: inherit;
    font-family: 'Courier New' !important;

    &__bkg-img {
      z-index: 0;
    }

    &__text-area {
      z-index: 2;
      position: absolute;
      top: 150px;
      width: 100%;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      font-weight: bold;
      font-size: 80px;
      color: white;
      margin: 50px auto;
    }

    &__items-container {
      width: 1500px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      justify-items: center;

      app-morse-item {
        width: 200px;
        height: 150px;
        border: 3px solid black;
      }
    }

    &__restart-btn {
      height: 80px;
      width: 350px;
      font-size: 50px;
      color: white;
      background-color: transparent;
      font-family: 'Courier New' !important;
      border: 5px solid white;
      border-radius: 50px;
      user-select: none;
      margin: 0 auto;

      &:focus {
        outline: none;
      }
    }
  }
}
